.popup__form-item {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  margin: 0 0 13px 36px;
  padding-bottom: 13px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (max-width: 879px) {
  .popup__form-item {
    width: 238px;
    margin: 0 0 17px 22px;
    padding-bottom: 12px;
  }
} 